<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/"><img class="icon" src="assets/images/company-logo/logo.png" alt="travelline"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02"  *ngIf="headerJSON.isLoggedIn">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#/home">Market <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/ideas">Mine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/live">Live</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/activity/5caf92bdb7e8a638f268f99e">Activity</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    &nbsp;
    <div class="btn-group" *ngIf="headerJSON.isLoggedIn">
        <button type="button" class="btn btn-secondary dropdown-toggle" style="max-width:150px;overflow:hidden;text-overflow: ellipsis;" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <img class="icon rounded" style="width:20px;height:20px; border:1px solid white; margin-bottom:1px;  " src="assets/images/company-logo/logo.png" alt="travelline"/>
            {{headerJSON.user.name}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
