<title>Login | EXL Service | Visitor Assistant</title>
<div class="logo_continer_home">
  <a href="#"><img src="assets/images/company-logo/logo.png" alt="EXL Services" /></a>
</div>
<div class="input_form">
  <h4 style="padding-bottom:0;">Log In</h4>
  <span class="tagline_short height_sht">
            Please log In to proceed....
        </span>
  <form class="form_vma">
    <div class='input-append'>
      <input class="input-subdomain_form" placeholder="Email*" type="text" />
      <input class="input-subdomain_form margin-t" placeholder="Password*" type="text" />
      <select class="input-subdomain_form margin-t">
        <option>Location</option>
        <option>Delhi</option>
        <option>Gurgoan</option>
        <option>Mumbai</option>
        <option>Pune</option>
        <option>Banglore</option>
      </select>
    </div>
    <input type="button" class="btn_big" value="Log In" routerLink="home" />
  </form>
</div>

