.timeseries{
    border-radius: 50px;
    /*border: 2px solid green;*/
    width: fit-content;
    padding: 5px;
    margin-top: 12px;
    margin-left: -5px;
}

.timeseries span {
    content: '';
    width: 25px;
    height: 25px;
    /*right: -17px;*/
    float:left;
    margin-left: -14px;
    margin-top: -8px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}
.timeseries p {
    width: fit-content;
    margin-left: 15px;
}
