<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="ideaJSON.errors.length>0">
  <p *ngFor=" let error of ideaJSON.errors">{{error}} <br/></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card card-body" *ngIf="ideaJSON.activeRoute!='ideas'">
  <h3>Whats your Idea ?</h3>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="ideaJSON.idea.title" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" [(ngModel)]="ideaJSON.idea.details" required></textarea>
    </div>
    <button type="submit" (click)="saveIdea()" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="card card-body"
     id="ideasDiv"
     infiniteScroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown(event)"
     (scrolledUp)="onScrollUp(event)"
     [scrollWindow]="false"
     style="height: 80vh;
        overflow: scroll;"
     *ngIf="ideaJSON.activeRoute=='ideas'">
  <h3 class="mb-2">
    Trending Ideas
    <a href="#/ideas/add" class="card-link btn btn-primary">
      <i class="material-icons ">add_box</i>
    </a>
  </h3>

  <div  *ngFor=" let idea of ideaJSON.ideas ">
    <div class="card">
      <div class="card-body">
        <div style="float:right;width:fit-content;right:10px;position: absolute;">
          <span  class="card-link" >
            <span>1000</span>
            <i class="material-icons">
              face
            </i>
          </span>
          <span  (click)="editIdea(idea)"  class="card-link" >
            <i class="material-icons">
              edit
            </i>
          </span>
          <span  (click)="deleteIdea(idea)"  class="card-link" >
            <i class="material-icons">
              delete
            </i>
          </span>
          <span  (click)="markPublic(idea)"  class="card-link" >
            <i class="material-icons">
              public
            </i>
          </span>
        </div>
        <h5 class="card-title">{{idea.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{idea.created_at}}

        </h6>
        <p class="card-text">{{idea.details}}</p>
        <a href="#" class="card-link">
          <i class="material-icons">
            thumb_up_alt
          </i>
        </a>
        <a href="#" class="card-link">
          <i class="material-icons">
            rate_review
          </i>
        </a>
        <a class="card-link" href="#/ideas" (click)="_getDirectionsInGoogleMap(idea.lat,idea.lng)" >
          <i class="material-icons">
            directions
          </i>
        </a>
      </div>

    </div>
  </div>
  <div *ngIf="ideaJSON.ideas.length==0">
    No Ideas So Far

  </div>
</div>