<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="homeJSON.errors.length>0">
  <p *ngFor=" let error of homeJSON.errors">{{error}} <br/></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="card card-body"
     id="ideasDiv"
     style="height: 80vh;
        overflow: scroll;">
  <h3 class="mb-2">
    Trending Ideas
    <b [routerLink]="['/ideas/add']" class=" btn btn-primary">
      <i class="material-icons ">add_box</i>
    </b>
  </h3>
  <div *ngFor=" let idea of homeJSON.ideas ">
    <div class="card mb-3" (click)="addView(idea)">
      <img class="card-img-top rounded" [src]="idea.cover.result" alt="Cover" />
      <br/>
      <div class="card-body">
        <div style="float:right;width:fit-content;right:10px;position: absolute;">
                  <span class="card-link">
                    <span>{{idea.views}}</span>
                    <i class="material-icons">
                      face
                    </i>
                  </span>
        </div>
        <h5 class="card-title">{{idea.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{idea.created_at}}
        </h6>
        <p class="card-text">
          {{idea.details}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated {{idea.updated_at}}</small></p>
        <b (click)="addLike(idea)" class="card-link">
          <span>{{idea.like}}</span>
          <i class="material-icons">
            thumb_up_alt
          </i>
        </b>
        <b class="card-link">
          <i class="material-icons">
            rate_review
          </i>
        </b>
        <b class="card-link" (click)="shareIdea(idea)">
          <i class="material-icons">
            share
          </i>
        </b>
        <b class="card-link" (click)="_getDirectionsInGoogleMap(idea.lat,idea.lng)">
          <i class="material-icons">
            directions
          </i>
        </b>
      </div>
    </div>
  </div>
  <div *ngIf="homeJSON.ideas.length==0">
    No Ideas So Far

  </div>
</div>
