
<div id="maps-container">
  <div id="map-canvas"></div>
  <div id="street-view" [hidden]="!liveJSON.enableStreetView"></div>
</div>
<div class="menu">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <b class="btn btn-outline-primary" [ngClass]="{'active':liveJSON.enableStreetView}" (click)="toggleStreetView()">Streets</b>
    </li>
    <li class="nav-item">
      <div>
        <input class="btn btn-outline-primary"  type="button" id="milestone" value="Add Milestone" onclick="document.getElementById('file').click()" />
        <input style="display:none;" id="file" name="file" type="file" accept="image/*" capture="camera" onclick="this.value = null" (change)=fileEvent($event)>
      </div>
    </li>
    <li class="nav-item">
      <b class="btn btn-outline-primary" (click)="updateUserLocation()">Update</b>
    </li>
    <li class="nav-item">
      <b class="btn btn-outline-primarydisabled" (click)="toggleMapView()">Disabled</b>
    </li>
  </ul>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="liveJSON.errors.length>0">
    <p *ngFor=" let error of liveJSON.errors">{{error}} <br/></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
